@mixin font($family, $size, $line-height, $weight) {
    font-family: $family;
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
}
@mixin hover($color-primary) {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
}