%layout {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 900px) {
        width: calc(100% - 40px);
    }
}
%nav {
    display: flex;
    @include font(Roboto-Thin, 22px, 50px, 200);
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    letter-spacing: 2px;
    @media screen and (max-width: 768px) {
        @include font(Roboto-Thin, 18px, 50px, 200);
    }
    @media screen and (max-width: 420px) {
        @include font(Roboto-Thin, 16px, 30px, 200);
    }
}
%list-hover {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
}