%layout {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 900px) {
        width: calc(100% - 40px);
    }
}
%nav {
    display: flex;
    @include font(Roboto-Thin, 22px, 26px, 200);
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    letter-spacing: 2px;
}