.card {
    color: #000000;
    width: 30.5%;
    .card__text {
        margin: 10px 0;
    }
    .card__virtual-tour {
        @include font(Roboto-Thin, 22px, 26px, 200);
        margin-top: 20px;
        @media screen and (max-width: 1024px) {
            @include font(Roboto-Thin, 20px, 23px, 200);
        }
        @media screen and (max-width: 768px) {
            @include font(Roboto-Thin, 18px, 21px, 200);
            margin-top: 30px;
        }
        @media screen and (max-width: 420px) {
            @include font(Roboto-Thin, 16px, 19px, 200);
        }
    }
    .card__panorama-view {
        @include font(Roboto-Thin, 18px, 21px, 200);
        @media screen and (max-width: 1024px) {
            @include font(Roboto-Thin, 16px, 19px, 200);
        }
    }
    @media screen and (max-width: 1024px) {
        width: 34%;
    }
    @media screen and (max-width: 768px) {
        width: 38.5%;
    }
    @media screen and (max-width: 420px) {
        width: 280px;
    }
    &:hover {
        .img-container__title {
            &::before {
                width: 100%;
            }
        }
    }
}
.img-container {
    width: 100%;
    .img-container__img {
        max-width: 100%;
    }
    .img-container__title {
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 70%;
            height: 2px;
            bottom: -10px;
            background-color: $color-primary;
            transition: width 1s;
        }
    }
}