.explore-wrapper {
    justify-content: space-between;
    @media screen and (max-width: 1440px) {
        flex-direction: column;
    }
}
.explore-description {
    width: 47.7%;
    margin-right: 60px;
    @media screen and (max-width: 1440px) {
        width: 100%;
        margin-right: 0;
    }
    @media screen and (max-width: 1024px) {
        margin-bottom: 62px;
    }
    @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        margin: 0;
    }
    p:last-child {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}
.explore__title {
    margin-bottom: 103px;
    @media screen and (max-width: 1024px) {
        margin-bottom: 83px;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 63px;
    }
}
.explore__text {
    @include font(Roboto-Light, 22px, 38.5px, 300);
    margin: 23px 0;
    .explore__text_yellow {
        color: $color-span;
    }
    @media screen and (max-width: 1024px) {
        font-size: 20px;
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.explore-image {
    width: 750px;
    @media screen and (max-width: 1500px) {
        width: 100%;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}