.logo-link {
    color: #FFFFFF;
    letter-spacing: 5px;
    position: relative;
    z-index: 3;
    width: fit-content;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: color 1s;
    &::before {
        content: " ";
        position: absolute;
        width: 49px;
        height: 26px;
        background-color: #ffffff;
        mask: url(../assets/svg/logo/logo.svg) center no-repeat;
        transition: background-color 1s;
        @media screen and (max-width: 420px) {
            width: 29px;
            height: 16px;
            mask: url(../assets/svg/logo/logo420.svg) center no-repeat;
        }
    }
    &:hover {
        color: $color-primary;
        &::before {
            background-color: $color-primary;
        }
    }
}
.logo-link__title {
    margin-left: 70px;
    @media screen and (max-width: 420px) {
        margin-left: 45px;
    }
}