.socials {
    width: fit-content;
    list-style-type: none;
    display: flex;
    align-self: flex-end;
    .socials__item {
        width: 48px;
        height: 48px;
        border: 1px solid #666666;
        border-radius: 50%;
        margin: 0 12px;
        &:hover {
            border-color: $color-primary;
            background-color: $color-primary;
        }
        transition: border-color 1s,
                    background-color 1s;
    }
    .socials__link {
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 1280px) {
        align-self: center;
    }
}

@each $social in youtube, instagram, facebook, twitter, pinterest {
    .socials__#{$social}-link {
        background: url('../assets/svg/#{$social}.svg') center no-repeat;
    }
}