.video-wrapper {
    flex-direction: column;
}
.video {
    max-width: 1440px;
    width: 100%;
    cursor: pointer;
}
.video-player {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video-container {
    width: 100%;
    height: 629px;
    background: url(../assets/img/video.png) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.play-container {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 10px solid #fff;
    display: flex;
    align-items: center;
    &:hover {
        opacity: 0.5;
    }
}
.video-buttons {
    width: 100%;
    background-color: #000000;
    position: absolute;
    bottom:0;
    transition: all 0.3s;
}
.video-buttons-container {
    width: calc(100% - 40px);
    display: flex;
    margin: 25px auto;
    justify-content: space-between;
    align-items: center;
}
.video-bar {
    flex-grow: 20;
    margin-right: 40px;
    cursor: pointer;
    @media screen and (max-width: 900px) {
        width: 35%;
    }
}
.volume-bar {
    width: 10.76%;
    flex-grow:1;
    cursor: pointer;
    margin-right: 10px;
}
.video-description {
    @extend %layout;
    width: 100%;
    padding-bottom: 75px;
    .video-description__title {
        width: 45%;
        @media screen and (max-width: 900px) {
            width: 100%;
            margin-top: 0;
        }
    }
    .video-description__text {
        @include font(Roboto-Light, 22px, 38.5px, 300);
        color: #000000;
        width: 50%;
        @media screen and (max-width: 900px)  {
            width: 100%;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}