.visiting-wrapper {
    flex-direction: column;
}
.title-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -30px;
    height: 3px;
    background-color: #710707;
}
.visiting-flex-container {
    @extend %nav;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 103px;
    align-items: flex-start;
    gap: 75px 0;
    @media screen and (max-width: 1024px) {
        justify-content: space-evenly;
    }
    @media screen and (max-width: 768px) {
        gap: 40px 0;
    }
}