.welcome-wrapper {
    height: 750px;
    padding: 114px 0 246px;
    background: url('../assets/img/bg-welcome.jpg') right top no-repeat;
    background-size: 69.44% 750px;
    @media screen and (max-width: 1280px) {
        background-size: 690px 516px;
        height: 516px;
    }
    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        height: 750px;
        padding: 0;
    }
}
.welcome-block {
    letter-spacing: 2px;
    .welcome-block__title {
        @media screen and (max-width: 900px) {
            text-align: center;
        }
    }
    .welcome-block__text {
        @include font(Roboto-Light, 28px, 33px, 300);
        margin: 26px 0 76px;
        letter-spacing: 2px;
        @media screen and (max-width: 900px) {
            @include font(Roboto-Light, 20px, 23px, 300);
            text-align: center;
        }
        @media screen and (max-width: 1280px) {
            @include font(Roboto-Light, 24px, 28px, 300);
        }
    }
}

.welcome-block-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 75px;
    background-color: #710707;
    border-radius: 10px;
    color: #FFFFFF;
    @include font(Roboto-Thin, 22px, 26px, 200);
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 1s;
    &:hover {
        background-color: $color-primary;
    }
}
.welcome-block-bg {
    display: none;
    @media screen and (max-width: 900px) {
        display: block;
        width: 100%;
        height: 750px;
        background: url(../assets/img/bg-welcome.jpg) center no-repeat;
        background-size: cover;
        margin-top: 42px;
    }
}